<div class='container'>
    <div class='head'>
        Navigate to:
    </div>
    <div class='items'>
        <NavLink href="/" class='link-item' ActiveClass="activeLink" Match="NavLinkMatch.All">Issues</NavLink>
        <NavLink href="/Manage" class='link-item' ActiveClass="activeLink">Manage</NavLink>
        <NavLink href="/Import" class='link-item' ActiveClass="activeLink">Import</NavLink>
    </div>
</div>