@if (Trackable is not null)
{
    <div class='container'>
        @if (Trackable.CreatedBy is null)
        {
            <div>No creator info.</div>
        }
        else
        {
            <div class='item-section'>
                <div class='title'>Create by</div>
                <div class='value'>@Trackable.CreatedBy</div>

                @if (Trackable.CreatedAt is not null)
                {
                    <div class='title'>Create at</div>
                    <div class='value'>@Trackable.CreatedAt.Value.ToLocalTime()</div>
                }
            </div>
        }

        @if (Trackable.LastModifiedBy is null)
        {
            <div>No modify info.</div>
        }
        else
        {
            <div class='item-section'>
                <div class='title'>Last Modified by</div>
                <div class='value'>@Trackable.LastModifiedBy</div>

                @if (Trackable.LastModifiedAt is not null)
                {
                    <div class='title'>Last Modified at</div>
                    <div class='value'>@Trackable.LastModifiedAt.Value.ToLocalTime()</div>
                }
            </div>
        }
    </div>
}

