/* Main layout */
.container {
    margin-top: 0px;
}

.working-space {
    display: flex;
    flex-direction: row;
}

.main-section {
    flex-grow: 5;
}

.choice-label{
    margin-right: 8px;
}


.issue-item {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;
}

.issue-item-title {
    font-weight: bold;
    margin-right: 12px;
    min-width: 150px;
}

#activate-toggle-button {
    margin-left: 4px;
}

.search-input {
    width: 600px;
    margin-top: 32px;
    margin-bottom: 16px;
}

#pickers {
    display: flex;
}

#spec-picker {
    display: flex;
}

#view-picker {
    margin-left: 16px;
    display: flex;
}

/* Substitutes */
#substitute {
    min-width: 150px;
    padding-left: 32px;
}