.issue-item {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;
}

.issue-item-title {
    font-weight: bold;
    margin-right: 12px;
    min-width: 150px;
}

#activate-toggle-button {
    margin-left: 4px;
}

.button
{
    min-width: 120px;
    margin-right: 16px;
}

.button-list
{
    margin-top: 32px;
}

.search-input
{
    width: 600px;
    margin-top: 32px;
    margin-bottom: 16px;
}