@page "/Manage"

<h2>Manage Registry</h2>

<NavLink href="/">Issues</NavLink>
<NavLink href="/Import">Import</NavLink>

<div>
    <input class="search-input" type="search"
        placeholder="Type in keywords to search for a specific registered performance issue." @bind="Keyword"
        @bind:event="oninput"></input>
</div>
<div>
    <div>
        <span>Active:</span><span>@Active</span>&nbsp;
        <span>Inactive:</span><span>@InActive</span>
    </div>
</div>
<div>
    <button @onclick="AddNewItemAsync">+ Add new item</button>
</div>
@if (!Initialized)
{
    <div>Loading ...</div>
}
else if (RegisteredItems.Any())
{
    @foreach (IssueRegistryItemViewModel entry in RegisteredItems)
    {
        <RegistryEntryViewer ViewModel="@entry" ToggleActivateCallback="ToggleActivateAsync"
    CancelAddCallback="OnCancelAddAsync" DeleteItemCallback="DeleteAsync" SubmitAddedCallback="OnSubmitAddAsync" />
    }
}
else
{
    <div>No registred entry.</div>
}
