@page "/Manage"

<div>
    <input class="search-input" type="search"
        placeholder="Type in keywords to search for a specific registered performance issue." @bind="Keyword"
        @bind:event="oninput"></input>
</div>
<div class='status-filter'>
    <div>Displays:</div>
    <div class='status-filter-item active-item'>
        <input id='cbxShowActive' type='checkbox' @bind='@ShowActiveEntries' />
        <label for='cbxShowActive'>Active: <span>@Active</span></label>
    </div>
    <div class='status-filter-item inactive-item'>
        <input id='cbxShowInactive' type='checkbox' @bind='@ShowInactiveEntries' />
        <label for='cbxShowInactive'>Inactive: <span>@InActive</span></label>
    </div>
</div>
<div class='operation-buttons'>
    <button @onclick="AddNewItemAsync">+ Add new item</button>
</div>
@if (!Initialized)
{
    <div>Loading ...</div>
}
else if (RegisteredItems.Any())
{
    @foreach (IssueRegistryItemViewModel entry in RegisteredItems)
    {
        <RegistryEntryViewer ViewModel="@entry" ToggleActivateCallback="ToggleActivateAsync"
            CancelAddCallback="OnCancelAddAsync" DeleteItemCallback="DeleteAsync" SubmitAddedCallback="OnSubmitAddAsync"
            CancelEditCallback="OnCancelEditAsync" SubmitEditCallback="OnSubmitEditAsync" />
    }
}
else
{
    <div>No registred entry.</div>
}
