.issue-item
{
    display: flex;
    margin-top: 4px;
    margin-bottom: 8px;
}

.issue-item .issue-item-title
{
    /* font-weight: lighter; */
    font-weight: bold;
    min-width: 200px;
}

.issue-item .issue-item-text
{
    /* font-weight: bolder; */
    font-size: 0.9rem;
}

.version-description
{
    margin-bottom: 32px;
}

.version-description > span
{
    text-decoration: underline;
}