@inherits LayoutComponentBase
<div class='background'>
    <div id='header'>
        <h1 id='title'>Open Performance Issue Registry (DRAFT)</h1>
        <div id='login-display'>
            <LoginDisplay />
        </div>
    </div>

    <NavMenu />

    <main>
        @Body
    </main>
</div>